@using JobSeeking.Models
@model ApplicationUser

<form >
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="@Model.UserName" class="form-control" placeholder="Please choose your username."disabled />
                <label asp-for="@Model.UserName" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Name" class="form-control" placeholder="Please write your full name." disabled />
                <label asp-for="@Model.Name" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Address" class="form-control" placeholder="Please enter your phone number." disabled />
                <label asp-for="@Model.Address" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.City" class="form-control" placeholder="Please enter your phone number." disabled />
                <label asp-for="@Model.City" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.PhoneNumber" class="form-control" placeholder="Please enter your phone number." disabled />
                <label asp-for="@Model.PhoneNumber" class="form-label"></label>
            </div>
            <a asp-action="Update" asp-route-Id="@Model.Id" class="btn btn-primary">Edit</a>
        </div>
        
    </div>
</form>



