@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model List<ApplicationUser>

<h1>User</h1>
<a asp-area="Identity" asp-page="/Account/EmployerRegister" class="btn btn-primary">Create Employer Account</a>
<br />
<div class="row">
    @foreach (var obj in Model)
    {
        var userRoles = await UserManager.GetRolesAsync(obj);
        if (userRoles.Contains("Employer") || userRoles.Contains("Job Seeker"))
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Email: @obj.Email
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@obj.Name</h5>
                        @if (!string.IsNullOrEmpty(obj.Company))
                        {
                            <p class="card-text">Company: @obj.Company</p>
                        }
                        
                        @if (userRoles.Contains("Employer"))
                        {
                            <p class="card-text text-success">Employer</p>
                        }
                        else if (userRoles.Contains("Job Seeker"))
                        {
                            <p class="card-text text-primary">Job Seeker</p>
                        }
                        @if (obj.isValid)
                        {
                            <p class="card-text text-success">Valid</p>
                        }
                        else
                        {
                            <p class="card-text text-danger">Invalid</p>
                        }
                    </div>
                    <div class="card-footer">
                        <a asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger">Delete</a>
                        <a asp-action="LockAccount" asp-route-Id="@obj.Id" class="btn btn-danger">Lock Account</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
