@model List<Job>
<partial name="_Notification" />
<link href="~/css/indexjobseeker.css" rel="stylesheet" />
<h1>Jobs</h1>
<br />
@{
    Job findJob = new Job();
}
<form asp-area="JobSeeker" asp-controller="ApplyCV" asp-action="FindJob">
    <div class="input-container">
        <label class="control-label"></label>
        <input name="nameJob" id="nameJob" class="input form-control" placeholder="search..." />
        <button type="submit" class="btn btn-primary">Find</button>
    </div>
    </form>
<br />
<div class="row">
    <a asp-area="JobSeeker" asp-controller="ApplyCV" asp-action="ListCV" class="btn btn-primary">List of CV</a>
    @foreach (var job in Model)
    {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5>@job.Name</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>Description:</strong> @job.Description</p>
                        <p><strong>Salary:</strong> @job.Salary</p>
                        <p><strong>Company Name:</strong> @job.CompanyName</p>
                        <img src="@job.Logo" class="card-img-top" alt="Company Logo">
                    </div>
                    <div class="card-footer">
                     <a asp-area="JobSeeker" asp-controller="ApplyCV" asp-action="ViewDetailOfJob" asp-route-Id="@job.Id" class="btn btn-primary">ApplyCV</a>
                    </div>
                </div>
            </div>
    }
</div>
