@model List<News>
<partial name="_Notification" />
<h1>List of News</h1>
<a asp-action="Create" class="btn btn-primary">Create</a>
<div class="card-container">
    @foreach (var newsItem in Model)
    {
        <div class="card">
            @if (!string.IsNullOrEmpty(newsItem.image))
            {
                <img src="@newsItem.image" width="100" height="100" class="rounded-end">
            }
            <div class="card-body">
                <h2>@newsItem.Name</h2>
                <p>@newsItem.Description</p>
                <p>@newsItem.DateCreated.ToString("MMMM dd, yyyy")</p>
            </div>
            <a asp-area="Admin" asp-controller="News" asp-action="Edit" asp-route-Id="@newsItem.Id" class="btn btn-primary">Edit</a>
            <a asp-area="Admin" asp-controller="News" asp-action="Delete" asp-route-Id="@newsItem.Id" class="btn btn-danger"
               onclick="return confirm('Are you want to delete user:@newsItem.Name')">Delete</a>
        </div>
    }
</div>
<style>
    .btn{
        width:80px;
        display:inline-block;
    }
    .card{
        width:300px;
    }
</style>