@using Microsoft.AspNetCore.Identity
@model List<Job>
@inject SignInManager<ApplicationUser> SignInManager
@{
    var currentUser = await SignInManager.UserManager.GetUserAsync(User);
}
<h1>Your Jobs</h1>
<a asp-action="Create" class="btn btn-primary">Create New Job</a>
<div class="row">
    @foreach (var job in Model)
    {
       
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5>@job.Name</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>Description:</strong> @job.Description</p>
                        <p><strong>Salary:</strong> @job.Salary</p>
                        <p><strong>Company Name:</strong> @job.CompanyName</p>
                        <p><strong>Email:</strong> @job.User.Email</p>
                            <img src="@job.Logo" class="card-img-top" alt="Company Logo">
                    <strong>Categories:</strong>
                    @foreach (var categoryName in job.Category)
                    {
                        <span class="badge bg-primary">@categoryName</span>
                    }
                    </div>
                    <div class="card-footer">
                       <a asp-area="Employer" asp-controller="Job" asp-action="Edit" asp-route-Id="@job.Id" class="btn btn-primary">Edit</a>
                       <a asp-area="Employer" asp-controller="Job" asp-action="Delete" asp-route-Id="@job.Id" class="btn btn-primary"
                       onclick="return confirm('Are you want to delete user:@job.Name')">Delete</a>
                    </div>
                </div>
            </div>
       
    }
</div>
