<link href="~/css/indexjob.css" rel="stylesheet" />
@using Microsoft.AspNetCore.Identity
@model List<Job>
<partial name="_Notification" />
@inject SignInManager<ApplicationUser> SignInManager
@{
    var currentUser = await SignInManager.UserManager.GetUserAsync(User);
}
<h1>Your Jobs</h1>

<a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i></a>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-bell"></i>
</button>
<div class="row">
    @foreach (var job in Model)
    {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5>@job.Name</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>Description:</strong> @job.Description</p>
                        <p><strong>Salary:</strong> @job.Salary</p>
                        <p><strong>Company Name:</strong> @job.CompanyName</p>
                        <p><strong>Email:</strong> @job.User.Email</p>
                        <img src="@job.Logo" class="card-img-top" alt="Company Logo">
                    </div>
                    <div class="card-footer">
                    <a asp-area="Employer" asp-controller="Job" asp-action="Edit" asp-route-Id="@job.Id" class="button">
                        <i class="bi bi-pen"></i>
                    </a>
                    <a asp-area="Employer" asp-controller="Job" asp-action="Delete" asp-route-Id="@job.Id" class="comic-button"
                            onclick="return confirm('Are you want to delete user:@job.Name')">
                        <i class="bi bi-trash3"></i>
                    </a>

                    <a asp-area="Employer" asp-controller="Job" asp-action="ViewAllCV" asp-route-Id="@job.Id" asp-route-status="null" as class="btn btn-warning"><i class="bi bi-eye"></i></a>
                    <a asp-area="Employer" asp-controller="Job" asp-action="ViewAllCV" asp-route-Id="@job.Id" asp-route-status="true" as class="btn btn-success"><i class="bi bi-eye"></i></a>
                    <a asp-area="Employer" asp-controller="Job" asp-action="ViewAllCV" asp-route-Id="@job.Id" asp-route-status="false" as class="btn btn-primary"><i class="bi bi-eye"></i></a>
                    </div>
                </div>
            </div>
    }
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @foreach(var obj in Model)
                {
                    @if (obj.amountOfCV != 0)
                    {
                        <p><strong>New cv:</strong>@obj.Name has @obj.amountOfCV new CV</p>
                    }else{
                        <p><strong>Doesn't have any new CV'</strong></p>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>